{% extends "home.html" %}
{% block content %}
{% load staticfiles %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/blindwalker.png' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Estadisticas</h1>
              <span class="subheading">Jugadores, facciones y casters</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Busqueda de jugador -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
          <form name="searchPlayer" id="searchPlayer" novalidate>
            <div class="form-group">
                <label>Buscar jugador</label>
                <input type="text" class="form-control" placeholder="Jugador" id="player-name"></input>
                <p class="help-block text-danger"></p>
                <a class="btn btn-primary" id="searchPlayerButton">Buscar</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mx-auto text-center">
      <table class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>Elo</th>
      </thead>
      <tbody id="players">
      </tbody>
      </table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
          <form name="searchFaction" id="searchFaction" novalidate>
            <div class="form-group">
                <label>Buscar faccion</label>
                <input type="text" class="form-control" placeholder="Faccion" id="faction-name"></input>
                <p class="help-block text-danger"></p>
                <a class="btn btn-primary" id="searchFactionButton">Buscar</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mx-auto text-center">
      <table class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>Partidas ganadas</th>
        <th>Partidas perdidas</th>
      </thead>
      <tbody id="factions">
      </tbody>
      </table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
          <form name="searchCaster" id="searchCaster" novalidate>
            <div class="form-group">
                <label>Buscar caster</label>
                <input type="text" class="form-control" placeholder="Caster" id="caster-name"></input>
                <p class="help-block text-danger"></p>
                <a class="btn btn-primary" id="searchCasterButton">Buscar</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mx-auto text-center">
      <table class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>Partidas ganadas</th>
        <th>Partidas perdidas</th>
      </thead>
      <tbody id="casters">
      </tbody>
      </table>
    </div>

{% endblock %}
{% block jss %}

    <script type="text/javascript">
      $(function() {
          $("form").submit(function() { return false; });
      });

      var player_name = document.getElementById("player-name").value;
      var faction_name = document.getElementById("faction-name").value;
      var caster_name = document.getElementById("caster-name").value;
      searchPlayer(player_name);
      searchFaction(faction_name);
      searchCaster(caster_name);

      $("#searchPlayerButton").click(function(){
        player_name = document.getElementById("player-name").value;
        searchPlayer(player_name);
      });

      $("#searchFactionButton").click(function(){
        faction_name = document.getElementById("faction-name").value;
        searchFaction(faction_name);
      });

      $("#searchCasterButton").click(function(){
        caster_name = document.getElementById("caster-name").value;
        searchCaster(caster_name);
      });

      function searchPlayer(name){
        if(name === ""){
          sup = "all";
        }else{
          sup = name;
        }
        $.ajax({
        url: "http://localhost:8000/home/estadisticas/player/"+sup,
        type: "GET",
        success: function(result) {
          var table = "";

          for (var player in result)  {
              table = table+"<tr><td>"+result[player].nombre+"</td><td>"+result[player].rango+"</td></tr>";
          }
          $("#players").html(table);
        },
        })
      }

      function searchFaction(name){
        if(name === ""){
          sup = "all";
        }else{
          sup = name;
        }
        $.ajax({
        url: "http://localhost:8000/home/estadisticas/faction/"+sup,
        type: "GET",
        success: function(result) {
          var table = "";

          for (var faction in result)  {
              table = table+"<tr><td>"+result[faction].nombre+"</td><td>"+result[faction].partidas_ganadas+"</td><td>"+
              result[faction].partidas_perdidas+"</td></tr>";
          }
          $("#factions").html(table);
        },
        })
      }

      function searchCaster(name){
        if(name === ""){
          sup = "all";
        }else{
          sup = name;
        }
        $.ajax({
        url: "http://localhost:8000/home/estadisticas/caster/"+sup,
        type: "GET",
        success: function(result) {
          var table = "";

          for (var caster in result)  {
              table = table+"<tr><td>"+result[caster].nombre+"</td><td>"+result[caster].partidas_ganadas+"</td><td>"+
              result[caster].partidas_perdidas+"</td></tr>";
          }
          $("#casters").html(table);
        },
        })
      }

    </script>
{% endblock %}